In [4]:
import ibm_db

In [5]:
# DB2 service credencials
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net"
dsn_port = "50000"
dsn_protocol = "TCPIP"
dsn_uid = ""
dsn_pwd = ""

In [ ]:
# create database connection
dsn = ("DRIVER={0};"
       "DATABASE={1};"
       "HOSTNAME={2};"
       "PORT={3};"
       "PROTOCOL={4};"
       "UID={5};"
       "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)
try:
    conn = ibm_db.connect(dsn, "", "")
    print("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)
except:
    print("Unable to connect: ", ibm_db.conn_errormsg())

## Create a new table

In [7]:
dropQuery = "drop table INSTRUCTOR"

dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [8]:
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

createStmt = ibm_db.exec_immediate(conn, createQuery)

## Insert data into the table

In [10]:
insertQuery = "insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')"
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [11]:
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago' , 'US')"
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

## Query data in the table

In [16]:
selectQuery = "select * from INSTRUCTOR"
selectStmt = ibm_db.exec_immediate(conn, selectQuery)
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'MOOSETOWN',
 3: 'MOOSETOWN',
 'CCODE': 'CA',
 4: 'CA'}

In [13]:
while ibm_db.fetch_row(selectStmt) != False:
    print("ID: ", ibm_db.result(selectStmt, 0), "FNAME: ", ibm_db.result(selectStmt, 'FNAME'))

ID:  2 FNAME:  Raul
ID:  3 FNAME:  Hima

In [14]:
updateQuery = "update INSTRUCTOR set CITY = 'MOOSETOWN' where FNAME = 'Rav'"
updateStmt = ibm_db.exec_immediate(conn, updateQuery)

## Retrieve Data into Pandas

In [21]:
import pandas
import ibm_db_dbi

In [22]:
pconn = ibm_db_dbi.Connection(conn)

In [23]:
selectQuery = "select * from INSTRUCTOR"
pdf = pandas.read_sql(selectQuery, pconn)
pdf.LNAME[0]

'Ahuja'

In [24]:
pdf

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [25]:
pdf.shape

(3, 5)

## Close the Connection

In [26]:
ibm_db.close(conn)

True