# SQL

SQL is a language used for relational databases to query or get data out of a database. SQL is short for its original name Structured English Query Language.

SQL is a language used for a database to query data. 

## Data

Data is a collection of facts in the form of words, numbers, or even pictures. Data is one of the most critical assets of any business. Data is important; so, it needs to be secure, and its stored and accessed quickly in database. 

## Database

Database is a repository of data, is a program that stores data. A database also provides the functionality for adding, modifying, and querying that data. The data can be stored in various forms:

- **Relational database:** When data is stored in tabular form, in columns and rows, the data is organized in tables and relations can be form between tables. 

    A table is a collection of related things where each column contains properties about the item.  
    
Database management system or DBMSA is a set of software tools for the data in the database. The terms database, database server, database system, data server, and database management systems are often used interchangeably. 

A relational database management system or RDBMS is a set of software tools that controls the data such as access, organization, and storage. And RDBMS serves as the backbone of applications in many industries. 

There are five SQL simple commands: 

1. Create a table
2. Insert data to populate the table
3. Select data from the table
4. Update data in the table
5. Delete data from the table. 

These statements fall into two different categories: 

- Data Definition language statements or DDL are used to define, change, or drop data.

- Data Manipulation language statements. Data definition language DML statements are used to read and modify data.

## Cloud Database 

A cloud database is a database service built and accessed through a cloud platform. It serves many of the same functions as traditional databases with the added flexibility of cloud computing. Users install software on a cloud infrastructure to implement the database. 

The Advantages of using cloud databases are:

1. **Ease of use:** Users can access cloud databases from virtually anywhere using a vendors API or web interface. 
2. **Scalability:** Cloud databases can expand their storage capacities during runtime to accommodate changing needs.
3. **Disaster recovery:** In the event of a natural disaster equipment failure or power outage data is kept secure through backups on remote servers.

Database services are logical abstractions for managing workloads in a database. Each service represents a workload with common attributes, service level thresholds, and priorities. 

The grouping is based on attributes of work that might include the application function to be used, the priority of execution for the application function, the job class to be managed or the data range used in the application function or job class. 

An instance of the cloud database operates as a service that handles all application requests to work with the data and any of the databases managed by that instance.

##  Create Table Statement

In a relational database, the data is organized in tables, which is columns and rows. The primary key of a relational table uniquely identifies each tuple or row in a table. The CREATE TABLE statement is one of the data definition language statements. 

Data definition language statements or DDL statements are used to create database objects.

create table TEST (ID integer, NAME varchar(30));

create table COUNTRY (ID int, CCODE char(2), NAME varchar(60));
create table COUNTRY (ID int NOT NULL, CCODE char(2), NAME varchar(60), PRIMARY KEY(ID));

## SELECT Statement

The main purpose of a database management system, is not just to store the data but also facilitate retrieval of the data. So, after creating a relational database table and inserting data into the table, we want to see the data. To see the data, we use the SELECT statement. 

The SELECT statement is a data manipulation language statement. The SELECT statement is called a **query**, and the output we get from executing this query is called a **result set** or a **result table.** In its simplest form, a SELECT statement is select star from table name. 

Relational operation helps us in restricting the result set by allowing us to use the clause WHERE. The WHERE clause always requires a predicate. A predicate is conditioned evaluates to true, false or unknown. Predicates are used in the search condition of the WHERE clause.

There are other comparison operators supported by a relational database management system: equal to, greater than, less than, greater than or equal to, less than or equal to, and not equal to.

select COLUMN1, COLUMN2, ... from TABLE1 ;
expl.

- select ID, NAME from COUNTRY ; retrieve a list of country names and their IDS from Country table.

- select * from COUNTRY ; retrieve all columns from country table.

- select * from COUNTRY where ID < 5 ; retrieve all data for rows in country table **where** ID is less than 5.

The main purpose of a database management system is not just to store the data, but also facilitate retrieval of the data. 

In a relational database, we can use string patterns to search data rows that match this condition. 

- The like predicate is used in a WHERE clause to search for a pattern in a column. The percent sign is used to define missing letters. The percent sign can be placed before the pattern, after the pattern, or both before and after the pattern. The percent sign is called a wildcard character. A wildcard character is used to substitute other characters. 

- In a relational database, we can use a range of numbers to specify the same condition. we use the comparison operator 'between and.' 'Between and' compares two values. The values in the range are inclusive. 

- In some cases, there are data values that cannot be grouped under ranges. we can use the IN operator. The IN operator allows us to specify a set of values in a WHERE clause.

### Order By clause

we use the "order by" clause. To display the result set in alphabetical order, we add the order by clause to the select statement. The order by clause is used in a query to sort the result set by a specified column. 

To sort in descending order, use the key word" desc." The result set is now sorted according to the column specified and is sorted in descending order. 

Another way of specifying the sort column is to indicate the column sequence number.

### COUNT, DISTINCT, LIMIT in select statement

- **COUNT** is a built-in database function that retrieves the number of rows that match the query criteria. For example, get the total number of rows in a given table, select COUNT(*) from tablename. 
    
- **DISTINCT** is used to remove duplicate values from a result set. Example, to retrieve unique values in a column, select DISTINCT columnname from tablename. 

- **LIMIT** is used for restricting the number of rows retrieved from the database. Example, retrieve just the first 10 rows in a table. Select * from tablename LIMIT 10. This can be very useful to examine the results set by looking at just a few rows instead of retrieving the entire result set which may be very large.

At times, a select statement result set can contain duplicate values. Using the keyword "distinct" reduces the result to non duplicate values. 

The "group by" clause groups a result into subsets that has matching values for one or more columns. 
The "having" clause is used in combination with the "group by" clause. It is very important to note that the "where" clause is for the entire result set, but the "having" clause works only with the "group by" clause.

## INSERT Statement

The INSERT statement is used to add new rows to a table. The INSERT statement is one of the data manipulation language statements. The syntax of the INSERT statement looks like this, insert into table name, column name, values. 

In this statement, table name identifies the table, the column name list identifies each column in the table, and the values clause specifies the data values to be added to the columns in the table. 

It is important that the number of values provided in the values clause is equal to the number of column names specified in the column name list. This ensures that each column has a value.

Tables do not need to be populated one row at a time, multiple rows can be inserted by specifying each row in the values clause. In the values clause, each row is separated by a comma.

## UPDATE and DELETE Statements

After a table is created and populated with data, the data in a table can be altered with the UPDATE statement. 

The UPDATE statement is one of the data manipulation language or DML statements. 

The syntax of the UPDATE statement looks like this, UPDATE [TableName] SET [ColumnName] = [Value] ]> <WHERE [Condition] >. In the statement, TableName identifies the table. The ColumnName identifies the column value to be changed, as specified in the <WHERE [Condition] >. 

The DELETE statement is one of the data manipulation language statements used to read and modify data. 

The syntax of the DELETE statement looks like this, DELETE FROM [TABLEName] <WHERE [Condition] >. The rows to be removed are specified in the WHERE condition.

## Information Model and Data Models

Information models and data models are different and serve different purposes. 

- **An information model** is an abstract formal representation of entities that includes their properties, relationships, and the operations that can be performed on them.

    An information model is at the conceptual level and defines relationships between objects. 

- **Data models** are defined in a more concrete level, are specific, and include details. 

    A data model is the blueprint of any database system. There are several types of information models. The most familiar is the hierarchical, typically used to show organization charts. 

### Relational model and Entity-Relationship model

 - **The relational model** is the most used data model for databases, because this model allows for data independence. Data is stored in simple data structure tables. This provides logical data independence, physical data independence, and physical storage independence. 

- **An entity-relationship data model** or ER data model, is an alternative to a relational data model. An entity-relationship model proposes thinking of a database as a collection of entities, rather than being used as a model on its own. 

    The ER model is used as a tool to design relational databases. In the ER model, entities are objects that exist independently of any other entities in the database. It is simple to convert an ER diagram into a collection of tables. 
    
    The building blocks of an ER diagram are entities and attributes. Entities have attributes, which are the data elements that characterize the entity. Attributes tell us more about the entity. In an ER diagram, an entity is drawn as a rectangle, and attributes are drawn as ovals. Entities can be a noun, person, place, or thing. Attributes are connected to exactly one entity.